# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# SwiftPM
.build/
.swiftpm/

# macOS
.DS_Store

# Fastlane / tooling artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
